<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">login panel</h1>
                <form action="">
                    <label for="email">email</label>
                    <input class="form-control" name="email" type="text" [(ngModel)]="email">

                    <label for="pass">password</label>
                    <input class="form-control" name="pass" type="password" [(ngModel)]="pass">
                    <button class="btn btn-primary" (click)="onLogin()">Login</button>
                    <button class="btn btn-danger" (click)="onGogleLogin()">Login with Google</button>
                </form>
            </div>
        </div>
    </div>
</div>